<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}" >
    <title>Unlock Clue </title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <style>
    body {
  background-image: url('../img/boat.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
   background-size: 80%;
}
#dialog
{
transistion : height 2s , width 2s;
}
</style>
</head>
<div th:text="${message}" id="message"></div>

<body>

<nav class="navbar navbar-expand-md navbar-dark  bg-primary fixed-top">
    <a class="navbar-brand" href="#">OSPYN TRESURE HUNT</a>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">


        <img id="dialog" style="width:50%;visibility:hidden;height:auto;position:absolute;top:25%" th:src="@{/img/dialog.png}">
        <img  style="width:100%" th:src="@{/img/mavelihello.png}">


        <h3>Need the password from previous clue</h3>
    </div>
</div>
<script>

    if(document.getElementById("message").innerHTML.length>0&&document.getElementById("message").innerHTML=="oops")
    {
    document.getElementById("dialog").style.visibility="visible";
    }
</script>
<main role="main" style="opacity:0.9" class="container">
    <form style="margin-top:20px" action="/service/verifyclue" method="post">
        <input type="hidden" th:value="${uuid}" class="form-control mb-2 mr-sm-2" id="uuid" name="uuid">
        <div class="form-group">
            <label for="pwd" style="background:white;border-radius:5px">Enter password to unlock clue <span th:text="${title}"></span></label>
            <input type="password" class="form-control" id="pwd" name="pwd">
        </div>

        <button type="submit" class="btn btn-primary" style="float:right">Unlock</button>
    </form>
   <!-- <div class="row">
        <div class="col-sm-6 col-sm-offset-3">


            <ol>
                <form style="margin-top:200px" class="form-group" action="/services/verifyclue">

                    <input type="hidden" th:value="${uuid}" class="form-control mb-2 mr-sm-2" id="email">
                    <label for="pwd" class="mr-sm-2">Enter Password to unlock the clue:</label>
                    <input type="password" class="form-control mb-2 mr-sm-2" id="pwd">
                    <div class="form-check mb-2 mr-sm-2">

                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
            </ol>
        </div>

    </div>-->

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>